.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lists {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.cards {
  border: 4px black double;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 5px 0px rgba(45,45,45,0.5);
  margin: 5px;
}

p {
  margin: 5px;
}

h3 {
  margin: 5px 5px 10px;
}

h4 {
  margin: 10px 5px;
}

.state-item {
  width: 170px;
}

.mario-item {
  width: 200px;
}

.car-item {
  width: 155px;
}

.car-item > p {
  text-align: left;
  padding-left: 8px;
}

.nba-item {
  width: 252px;
}

.nba-item .starter {
  text-align: left;
  padding-left: 26px;
}

.nba-item .championship-years {
  padding: 0 26px;
}